In [3]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import numpy as np

chipotable = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

# print(chipotable.head(11))
# print(chipotable.count())
# print(len(chipotable.columns))
# print(chipotable.columns)
# Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.
# print(chipotable.sort_values('quantity', ascending=False).head(1).item_name)
# items = chipotable[['item_name', 'quantity']].groupby('item_name').sum()
# items.head()
# print(items.sort_values(['quantity'], ascending = False))
# print(chipotable['quantity'].agg(np.sum))
# print(chipotable['choice_description'].mode())
chipotable['item_price'] = chipotable['item_price'].apply(lambda x: float(x[1:-1]))

In [23]:
print(chipotable['choice_description'].mode())

0    [Diet Coke]
Name: choice_description, dtype: object

In [24]:
revenue = chipotable['quantity'].dot(chipotable['item_price'])

In [25]:
print(revenue)

39237.02000000008

In [28]:
print(chipotable['order_id'].count())

4622

In [31]:
np.mean(chipotable['quantity']) * np.mean(chipotable['item_price'])

8.029571078511685

In [2]:
df= pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

NameError: name 'pd' is not defined

In [34]:
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:-1]))
print(df['item_price']>10)

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [1]:
print(al[['item_price','item_name']])

NameError: name 'df' is not defined